default: &default
  adapter: postgresql
  encoding: unicode
  port: 5432
  pool: 5
  host: localhost
  username: <=% ENV["DATABASE_USERNAME"] %>
  password: <=% ENV["DATABASE_PASSWORD"] %>

development:
  <<: *default
  database: patient_charting_development

test:
  <<: *default
  database: patient_charting_test

production:
  <<: *default
  database: patient_charting_production
